<!DOCTYPE html>
<html>

<head>
  <link rel="manifest" href="/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  <link rel="stylesheet"
    href="/public/styles.css" />
    <style>
        @media screen and (max-width: 600px){
            .media{
                max-width: 100%;
            }
        }
    </style>
</head>

<body>
  <div id="app">
    <h2 class="title has-text-centered dividing-header">UpVote!</h2>

    <div class="section">
      <article v-for="submission in sortedSubmissions"
        :key="submission.id"
        class="media"
        :class="{ 'blue-border': submission.votes >= 20 }">
        <submission-component
          :submission="submission"
          :submissions="sortedSubmissions">
        </submission-component>
      </article>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/idb-keyval@3/dist/idb-keyval-iife.min.js"></script>
  <script src="./main.js"></script>
  <script src="./push.js"></script>
  <script>

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js').then(registration => {
        console.log("Successfully registered service worker with scope:", registration.scope)
        registerPushNotifications(registration);
      }).catch(err => {
        console.log("Failed to register service worker:", err)
      })
    }
  
  </script>
</body>

</html>
